.App {
  max-width: 100%;
  position: relative;
  min-height: 100vh;
  background: rgb(51,51,51);
background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(255,255,255,1) 100%);
}

body{
  background-color: rgba(0,0,0,0);
  height: 100%;
  position: relative;
  min-height: 100vh;
}

.main-navigation {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
} 

.carousel{
  
}
