
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.App {
  min-height: 100vh;
}

body{
  background: #ffffff;
  height: 100%;
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  letter-spacing: .35px; 
}

.profilePicture{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  margin: 0 auto;
}

.profileCol{
  margin: 0 auto;
}

.buttonIcon{
  cursor: pointer;
}

div.blogHighlight.card-body{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

div.blogHighlight.card-body:hover{
  cursor: pointer;
  background-color: #FFEDAD;
  transition: 0.3s;
}

img.rounded-circle{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2); 
}

.HeadshotDrop{
  animation: drop 1.5s ease;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

img.d-block.w-100.img-thumbnail{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

ul#horizontal-list {
	list-style: none;
  padding-top: 15px;
  display: inline-block;
  padding-left: 0px;
}

ul#horizontal-list li {
  display: inline;
  padding: 8.5px;
}

img.buttonIcon{
  display: inline;
  padding: 8.5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

img.buttonIcon:hover{
  background-color: #FFE485;
  border-radius: 10px;
}

span.carousel-control-next-icon:hover{
  height: 34px;
  background-color: #FFE485;
  border-radius:8px;
  transition: 0.3s ;
}

span.carousel-control-prev-icon:hover{
  height: 34px;
  background-color: #FFE485;
  border-radius:8px;
  transition: 0.3s;
}

span.carousel-control-next-icon{
  transition:  0.3s ease-in-out;
}

span.carousel-control-prev-icon{
  transition:  0.3s ease-in-out;
}

.carouselProjects{
  margin: 0 auto;
}

ul#horizontal-list{
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  backdrop-filter: blur(6px);
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}