.App {
  text-align: center;
  max-width: 100%;
  height: 1100px; 
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(87,176,81,1) 100%);
}

.linkedIn{
  margin-left: 1090px;
}




