.App {
  max-width: 100%;
  position: relative;
  min-height: 100vh;
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(87,176,81,1) 100%);
}

body{
  background-color: rgba(0,0,0,0);
  height: 100%;
  position: relative;
  min-height: 100vh;
}

.main-navigation {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
} 
