
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.App {
  min-height: 100vh;
}

body{
  background: rgb(52,58,64);
  background: linear-gradient(0deg, rgba(52,58,64,1) 0%, rgba(255,255,255,1) 100%); 
  height: 100%;
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  letter-spacing: .35px; 
}

.main-navigation {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
} 

.profilePicture{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.contactCard{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.buttonIcon{
  cursor:pointer;
}

/* #blogIntro::first-letter{
  font-size: 200%;
} */

.blogHighlight.card-body:hover{
  cursor: pointer;
  background-color: #ffffff;
  opacity: 0.95;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear ease-in-out;
}

ul#horizontal-list {
	list-style: none;
  padding-top: 20px;
  display: inline-block;
  padding-left: 0px;
}

ul#horizontal-list li {
  display: inline;
  padding: 8.5px;
}

ul#horizontal-list li :hover {
  height: 38px;
  background-color: #E6EFF6;
  border-radius:10px;
  transition: 0.5s;
}

span.carousel-control-next-icon:hover{
  height: 34px;
  background-color: #E6EFF6;
  border-radius:8px;
  transition: 0.3s ;
}

span.carousel-control-prev-icon:hover{
  height: 34px;
  background-color: #E6EFF6;
  border-radius:8px;
  transition: 0.3s;
}
span.carousel-control-next-icon{
  transition:  0.3s ease-in-out;
}

span.carousel-control-prev-icon{
  transition:  0.3s ease-in-out;
}

a.logo.nav-link{
  font-family: 'Comfortaa', cursive;
  transition:  0.3s ease-in-out;
  margin-right: 12px;
}

a.logo.nav-link:hover{
  background-color: #E6EFF6;
  border-radius:10px;
}

.NavLinks{
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

