@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");

.App {
  min-height: 100vh;
  /* font-family: 'Roboto Slab', serif; */
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: .35px; 
  line-height: 1.8;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  /* font-family: 'Roboto Slab', serif; */
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  letter-spacing: .35px; 
}

.profilePicture{
  margin: 0 auto;
}

.profileCol{
  margin: 0 auto;
}

.buttonIcon{
  cursor: pointer;
}

.blog-highlight{
  margin: 1.75rem 0rem;
  backdrop-filter: blur(12px);
  z-index: 1;
  box-shadow: -0.125rem 0 1rem #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
  padding: 20px;
}

.blog-highlight:hover{
  cursor: pointer;
}

img.rounded-circle{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2); 
}

.HeadshotDrop{
  animation: drop 1.5s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
		transform: translateY(-200px);
	}
	100% {
    opacity: 1;
		transform: translateY(0px);
	}
}

img.d-block.w-100.img-thumbnail{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

ul#horizontal-list {
  list-style: none;
  padding-top: 15px;
  display: inline-block;
  padding-left: 0px;
}

ul#horizontal-list li {
  display: inline;
  padding: 8.5px;
}

img.buttonIcon{
  display: inline;
  padding: 8.5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

img.buttonIcon:hover{
  background-color: #FFE485;
  border-radius: 10px;
  margin: 0 15px;
}

span.carousel-control-next-icon:hover{
  width: 23px;
  height: 30px;
  background-color: #191919;
  border-radius:8px;
  transition: 0.2s ;
}
span.carousel-control-prev-icon:hover{
  width: 23px;
  height: 30px;
  background-color: #191919;
  border-radius:8px;
  transition: 0.2s;
}
span.carousel-control-next-icon{
  transition:  0.2s ease-in-out;
  background-color: #191919;
  border-radius:8px;
}
span.carousel-control-prev-icon{
  transition:  0.2s ease-in-out;
  background-color: #191919;
  border-radius:8px;
}

.carouselProjects{
  margin: 0 auto;
}

ul#horizontal-list{
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  backdrop-filter: blur(6px);
}

.big-circle {
  position: absolute;
	top: 0px;
  right: 0px;
  z-index: -1;
	opacity: 0.4;
  height: 78%;
  animation: float1 6s ease-in-out infinite;
}

.medium-circle {
  position: absolute;
	top: 34%;
	right: 32%;
	z-index: -1;
	height: 60%;
  opacity: 0.5;
  animation: float2 6s ease-in-out infinite;
}
.small-circle {
  position: absolute;
	top: 74%;
	right: 59%;
	z-index: -1;
	height: 38%;
  opacity: 0.8;
  animation: float1 6s ease-in-out infinite;
}

@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
	}
	50% {
    transform: translatey(15px);
	}
	100% {
    transform: translatey(0px);
	}
}

.img-thumbnail{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

div.active.carousel-item{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

p{
  color: #191919;
}

.resume-button{
  background-color: #0377B5;
  font-weight: 600;
  font-size: 20;
  border-radius: 6px;
  border: none;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: white;
  padding: 0.25rem 0.75rem;
}

.resume-button:hover{
  background-color: #191919;
  padding-right: 22px;
  padding-left: 22px;
}


p#blogIntro::first-letter{
  font-weight: 500;
  font-size: 40px;
}

.close-modal{
  background-color: #0377B5;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.close-modal:hover{
  background-color: #191919;
}

.view-code:hover{
  opacity: 0.8;
}

.card1-list{
  display: flex; 
  padding: 3rem 1.5rem;
  margin: 0 auto;
  overflow-y: scroll;
}

.cards-column{
  margin: 0 auto;
  padding: 0px;
}

.card1{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 400px;
  width: 400px;
  min-width: 250px;
  padding: 1.25rem;
  border-radius: 16px;
  backdrop-filter: blur(9px);
  /* background-color: #F4F5F5; */
  box-shadow: -0.125rem 0 1.25rem #000;
  transition: .3s;
}

.card1:hover{
  transform: translateY(-1.5rem);
}

.card1:hover~.card1{
  transform: translateX(120px);
}

.card1:not(:first-child){
  margin-left: -60px;
}

.modalImgContainer{
    display: inline-block; 
    overflow: hidden;
}

.modal-thumbnail{
    margin: 0;
    padding: 0;
    animation: zoomThumbnail 10s infinite;
    border: none;
}

@keyframes zoomThumbnail {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}

@media screen and (max-width: 1024px) {
  .small-circle{
    opacity: 0.5;
  }
  .medium-circle{
    opacity: 0.6;
  }
  .big-circle {
    opacity: 0.5;
  }
}

.div-footer{
  position: relative;
}

p.footer-text{
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin: 0px;
  padding-Top: 0.6rem;
  padding-bottom: 1rem;
}

svg.wave1{
  bottom: 0;
  position: absolute;
  z-index: -1;
  transform-origin: bottom;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
svg.wave2{
  bottom: 0;
  position: absolute;
  animation: wave 5s infinite;
}

@keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}

